{% extends "base.html.twig" %}
{% block title %} {{ parent() }} Composants {% endblock %}

{% block content %}
    {% if form.valideAjout is defined %}
        {% if form.valideAjout == true %}
            <h3 class="text-success">{{ form.message }}</h3>
        {% else %}
            <h3 class="text-danger">{{ form.message }}</h3>
        {% endif %}
    {% endif %}
{% endblock %}

{% block contenu %}
<div class="text-center bg-info">
    <h1 class="mt-0 display-5 fw-bold text-white">Composants</h1> 

    <h3 class="pb-3 mb-0 text-white">Choisissez vos armes !</h3>
</div>

    <div class="container mt-2">
        <form class="form-inline my-2 my-lg-0" action="index.php" method="GET">
            <input type="hidden" name="page" value="composants">
            
            <div class="input-group">
                <input class="form-control" type="search" name="q" placeholder="Tapez votre recherche" aria-label="Tapez votre recherche">
                <div class="input-group-append">
                    <button class="btn btn-outline-primary btn-dark text-white" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                </div>
            </div>
            
            <div class="form-check ml-3">
                <input class="form-check-input" type="checkbox" name="cpu" id="cpuCheckbox" checked>
                <label class="form-check-label" for="cpuCheckbox">Processeur (CPU)</label>
            </div>
            
            <div class="form-check ml-3">
                <input class="form-check-input" type="checkbox" name="gpu" id="gpuCheckbox" checked>
                <label class="form-check-label" for="gpuCheckbox">Carte graphique (GPU)</label>
            </div>  

            <div class="form-check ml-3">
                <input class="form-check-input" type="checkbox" name="ram" id="ramCheckbox" checked>
                <label class="form-check-label" for="ramCheckbox">Mémoire vive (RAM)</label>
            </div> 

            <div class="form-check ml-3">
                <input class="form-check-input" type="checkbox" name="hdd" id="hddCheckbox" checked>
                <label class="form-check-label" for="hddCheckbox">Disque Dur (HDD)</label>
            </div> 

        </form>
    </div>

    <div class="container-fluid">
    {% if cpu or gpu or ram or hdd %}
    {% if cpu %}
        <!-- Section Processeurs -->
        <h2 class="fw-bold">Processeurs (CPU)</h2>
        <div class="row">
            {% for produit in cpu %}
                <div class="col-lg-3 col-md-6 mb-4">
                    <div class="card d-flex flex-column h-100">
                        {% if produit.photo is not empty %}
                            <img src="images/{{ produit.photo }}" alt="Produit Image" class="mx-auto" style="max-width: 200px; max-height: 200px;">
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title fw-bold">{{ produit.nomProduit }}</h5>
                                <p class="card-text">{{ produit.description }}</p>
                                <p class="card-text fw-bold text-center">Prix: {{ produit.prix }}€</p>
                                    {%if session.login is defined %}
                                        {%if session.role == 1 %}
                                        <a href="index.php?page=produit-modif&id={{ produit.id }}" class="btn btn-primary mt-auto mb-2">Détails (accessible uniquement aux adminstrateurs).</a>
                                        {% endif %}
                                    {% endif %}
                                    <form action="index.php?page=panier" method="post" enctype="application/x-www-form-urlencoded">
                                        <input type="hidden" name="id" value="{{ produit.id }}" />
                                        <div class="text-center">
                                            <button class="btn btn-primary mt-auto text-center"
                                        {% if session.login is not defined %}
                                        disabled
                                        {% endif %}         
                                        type="submit" name="btAjoutP">Ajouter au panier</button>
                                        {% if session.login is not defined %}
                                        <p class="text-danger fw-bold text-center">Veuillez vous connecter pour ajouter ce produit</p> <!-- Si l'utilisateur n'est pas connecté, on désactive le bouton, de toute façon, il ne pourrait pas utiliser le panier -->
                                        {% endif %}   
                                        </div> 
                                    </form>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}
    <hr>
    {% if gpu %}
        <h2 class="fw-bold">Cartes graphiques (GPU)</h2>
        <!-- Section Cartes Graphiques -->
        <div class="row">
            {% for produit in gpu %}
                <div class="col-lg-3 col-md-6 mb-4">
                    <div class="card d-flex flex-column h-100">
                        {% if produit.photo is not empty %}
                            <img src="images/{{ produit.photo }}" alt="Produit Image" class="mx-auto" style="max-width: 200px; max-height: 200px;">
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title fw-bold">{{ produit.nomProduit }}</h5>
                                <p class="card-text">{{ produit.description }}</p>
                                <p class="card-text fw-bold text-center">Prix: {{ produit.prix }}€</p>
                                    {%if session.login is defined %} <!-- Permet de modifier le produit directement (s'affiche et est utilisable uniquement si on est administrateur) -->
                                        {%if session.role == 1 %}
                                        <a href="index.php?page=produit-modif&id={{ produit.id }}" class="btn btn-primary mt-auto mb-2">Détails (accessible uniquement aux adminstrateurs).</a>
                                        {% endif %}
                                    {% endif %}
                                    <form action="index.php?page=panier" method="post" enctype="application/x-www-form-urlencoded">
                                        <input type="hidden" name="id" value="{{ produit.id }}" />
                                        <div class="text-center">
                                            <button class="btn btn-primary mt-auto text-center"
                                        {% if session.login is not defined %}
                                        disabled
                                        {% endif %}         
                                        type="submit" name="btAjoutP">Ajouter au panier</button>
                                        {% if session.login is not defined %}
                                        <p class="text-danger fw-bold text-center">Veuillez vous connecter pour ajouter ce produit</p> <!-- Si l'utilisateur n'est pas connecté, on désactive le bouton, de toute façon, il ne pourrait pas utiliser le panier -->
                                        {% endif %}   
                                        </div> 
                                    </form>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}
    <hr>
    {% if ram %}
        <h2 class="fw-bold">Mémoire vive (RAM)</h2>
        <!-- Section RAM -->
        <div class="row">
            {% for produit in ram %}
                <div class="col-lg-3 col-md-6 mb-4">
                    <div class="card d-flex flex-column h-100">
                        {% if produit.photo is not empty %}
                            <img src="images/{{ produit.photo }}" alt="Produit Image" class="mx-auto" style="max-width: 200px; max-height: 200px;">
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title fw-bold">{{ produit.nomProduit }}</h5>
                                <p class="card-text">{{ produit.description }}</p>
                                <p class="card-text fw-bold text-center">Prix: {{ produit.prix }}€</p>
                                    {%if session.login is defined %} <!-- Permet de modifier le produit directement (s'affiche et est utilisable uniquement si on est administrateur) -->
                                        {%if session.role == 1 %}
                                        <a href="index.php?page=produit-modif&id={{ produit.id }}" class="btn btn-primary mt-auto mb-2">Détails (accessible uniquement aux adminstrateurs).</a>
                                        {% endif %}
                                    {% endif %}
                                    <form action="index.php?page=panier" method="post" enctype="application/x-www-form-urlencoded">
                                        <input type="hidden" name="id" value="{{ produit.id }}" />
                                        <div class="text-center">
                                            <button class="btn btn-primary mt-auto text-center"
                                        {% if session.login is not defined %}
                                        disabled
                                        {% endif %}         
                                        type="submit" name="btAjoutP">Ajouter au panier</button>
                                        {% if session.login is not defined %}
                                        <p class="text-danger fw-bold text-center">Veuillez vous connecter pour ajouter ce produit</p> <!-- Si l'utilisateur n'est pas connecté, on désactive le bouton, de toute façon, il ne pourrait pas utiliser le panier -->
                                        {% endif %}   
                                        </div> 
                                    </form>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}
    <hr>
    {% if hdd %}
        <h2 class="fw-bold">Disques durs (HDD)</h2>
        <!-- Section HDD -->
        <div class="row">
            {% for produit in hdd %}
                <div class="col-lg-3 col-md-6 mb-4">
                    <div class="card d-flex flex-column h-100">
                        {% if produit.photo is not empty %}
                            <img src="images/{{ produit.photo }}" alt="Produit Image" class="mx-auto" style="max-width: 200px; max-height: 200px;">
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title fw-bold">{{ produit.nomProduit }}</h5>
                                <p class="card-text">{{ produit.description }}</p>
                                <p class="card-text fw-bold text-center">Prix: {{ produit.prix }}€</p>
                                    {%if session.login is defined %}
                                        {%if session.role == 1 %}
                                        <a href="index.php?page=produit-modif&id={{ produit.id }}" class="btn btn-primary mt-auto mb-2">Détails (accessible uniquement aux adminstrateurs).</a>
                                        {% endif %}
                                    {% endif %}
                                    <form action="index.php?page=panier" method="post" enctype="application/x-www-form-urlencoded">
                                        <input type="hidden" name="id" value="{{ produit.id }}" />
                                        <div class="text-center">
                                            <button class="btn btn-primary mt-auto text-center"
                                        {% if session.login is not defined %}
                                        disabled
                                        {% endif %}         
                                        type="submit" name="btAjoutP">Ajouter au panier</button>
                                        {% if session.login is not defined %}
                                        <p class="text-danger fw-bold text-center">Veuillez vous connecter pour ajouter ce produit</p> <!-- Si l'utilisateur n'est pas connecté, on désactive le bouton, de toute façon, il ne pourrait pas utiliser le panier -->
                                        {% endif %}   
                                        </div> 
                                    </form>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}

    {% else %}
        {% if q or cpu_checked or gpu_checked or ram_checked or hdd_checked %}
        <!-- Si après les recherches rentrées et les filtres utilisées, cela ne retourne strictement rien, alors on affiche aucun résultat et un message pour le dire -->
            <p style="height:1800px;" class="lead text-center text-danger fw-bold">Aucun résultat trouvé. Recherchez autre chose !</p>
        {% endif %}
    {% endif %}
</div>

{% endblock %}