{% extends "base.html.twig" %}
    {% block title %} {{ parent() }} Modifier un produit {% endblock %}
        {% block contenu %} <!-- Permet de modifier tous les champs du produit déjà enregistré -->
                {% if form.produit is defined %}
                    {% if form.produit != null %}
                        <div class="container rounded border col-lg-6 col-md-9 col-sm-12 mt-3">
                            <form class="form-signin" action="index.php?page=produit-modif" method="post"
                            enctype="application/x-www-form-urlencoded">
                                <h1 class="text-center">Modifier le produit</h1>
                                    <label for="nomProduit" class="mt-2 fw-bold"> Modifier le produit :</label>
                                    <input type="text" id="nomProduit" name="nomProduit" class="form-control"
                                    placeholder="Modifier le nom du produit" value="{{form.produit.nomProduit}}" >

                                    <label for="description" class="mt-2 fw-bold"> Modifier la description :</label>
                                    <input type="text" id="description" name="description" class="form-control" placeholder="Modifier la description" value="{{form.produit.description}}">

                                    <label for="prix" class="mt-2 fw-bold">Modifier le prix :</label>
                                    <input type="number" id="prix" name="prix" class="form-control" placeholder="Modifier le prix"
                                    value="{{form.produit.prix}}">

                                    <div class="col">
                                        <label for="inputCtg" class="mt-2 col-6 fw-bold">Catégorie du produit : </label>
                                        <select class="form-control" required name="inputCtg">
                                            {% for t in listeT %}
                                                <option value="{{ t.id }}" {% if t.id == form.produit.idType %}selected{% endif %}>{{ t.libelle }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <input type="hidden" name="id" value="{{form.produit.id}}"/>

                                <div class="text-center d-grid gap-2"><button type="submit" class="btn btn-primary btn-lg mt-2 mb-2" name="btModifier">Modifier</button></div>
                            </form>
                        </div>
                        {% else %}
                            <h2 class="alert alert-danger" role="alert">{{ form.message }}</h2>
                            <a href="index.php?page=produit">Retourner sur la liste des produits</a>
                        {% endif %}
                        {% else %}
                        {% if form.valide == true %}
                            <h1 class="h3 mb-3 font-weight-normal">{{ form.message }} </h1>
                            <h1 class="h3 mb-3 font-weight-normal"><a href="index.php?page=produit">Retourner sur la liste des types</a></h1>
                        {% else %}
                            <h1 class="alert alert-danger" role="alert">{{ form.message }}</h1>
                            <h1 class="h3 mb-3 font-weight-normal"><a href="index.php?page=produit">Retourner sur la liste des types</a></h1>
        {% endif %}
    {% endif %}
{% endblock %}