{% extends "base.html.twig" %}
    {% block title %} {{ parent() }} Modifier un utilisateur {% endblock %}
        {% block contenu %} <!-- Permet de modifier tous les champs de l'utilisateur déjà enregistré -->
                {% if form.utilisateur is defined %}
                    {% if form.utilisateur != null %}
                        <div class="container rounded border col-lg-6 col-md-9 col-sm-12 mt-3">
                            <form class="form-signin" action="index.php?page=utilisateur-modif" method="post"
                            enctype="application/x-www-form-urlencoded">
                                <h1 class="text-center">Modifier un utilisateur</h1>
                                
                                    <label for="email" class="mt-2 fw-bold"> Modifier l'adresse email :</label>
                                    <input type="text" id="email" name="email" class="form-control"
                                    placeholder="Modifier l'adresse email" value="{{form.utilisateur.email}}" >

                                    <label for="mdp" class="mt-2 fw-bold"> Modifier le mot de passe :</label>
                                    <input type="password" id="mdp" name="mdp" class="form-control" placeholder="Modifier le mot de passe" >

                                    <label for="nom" class="mt-2 fw-bold">Nom :</label>
                                    <input type="text" id="nom" name="nom" class="form-control" placeholder="Nom"
                                    value="{{form.utilisateur.nom}}" required>

                                    <label for="prenom" class="mt-2 fw-bold">Prénom :</label>
                                    <input type="prenom" id="prenom" name="prenom" class="form-control" placeholder="Prénom"
                                    value="{{form.utilisateur.prenom}}" required>

                                    <label for="idRole" class="mt-2 fw-bold">Rôle :</label>
                                    <select class="form-control" name="idRole">
                                    {% for r in form.roles %}
                                    {% if r.id==form.utilisateur.idRole %}
                                        <option value="{{ r.id }}" selected>{{ r.libelle }}</option>
                                    {% else %}
                                        <option value="{{ r.id }}">{{ r.libelle }}</option>
                                    {% endif %}
                                    {% endfor %}
                                    </select>

                                    <input type="hidden" name="id" value="{{ form.utilisateur.id}}"/>

                                <div class="text-center d-grid gap-2"><button type="submit" class="btn btn-primary btn-lg mt-2 mb-2" name="btModifier">Modifier</button></div>
                            </form>
                        </div>
                        {% else %}
                        <h2 class="alert alert-danger" role="alert">{{ form.message }}</h2>
                        <a href="index.php?page=utilisateur">Retourner sur la liste des utilisateurs</a>
                        {% endif %}
                        {% else %}
                        {% if form.valide == true %}
                        <h1 class="h3 mb-3 font-weight-normal">{{ form.message }} </h1>
                        <h1 class="h3 mb-3 font-weight-normal"><a href="index.php?page=utilisateur">Retourner sur
                        la liste des utilisateurs</a></h1>
                        {% else %}
                        <h1 class="alert alert-danger" role="alert">{{ form.message }}</h1>
                        <h1 class="h3 mb-3 font-weight-normal"><a href="index.php?page=utilisateur">Retourner sur
                        la liste des utilisateurs</a></h1>
        {% endif %}
    {% endif %}
{% endblock %}